:root {
  --column-width: 3rem;
  --gutter-width: 1.5rem;
}

.grid-wrapper {
  align-content: start;
  display: grid;
  grid-template-columns: minmax(0, 1fr) repeat(12, minmax(0, var(--column-width))) minmax(0, 1fr);
  column-gap: var(--gutter-width);
  position: relative;
}

.ProseMirror {
  align-items: start;
  display: grid;
  grid-template-columns: subgrid;
  grid-column-start: 1;
  grid-column-end: 15;
}

.row {
  align-items: start;
  display: grid;
  grid-template-columns: subgrid;
  row-gap: 1.5rem;
  position: relative;
}

.row>* {
  grid-row-start: 1 !important;
}

.pp-shuffle-block {
  width: 100%;
}

.pp-shuffle-block:nth-child(1) {
  grid-row: 1;
}

.pp-shuffle-block:nth-child(2) {
  grid-row: 2;
}

.pp-shuffle-block:nth-child(3) {
  grid-row: 3;
}

.pp-shuffle-block:nth-child(4) {
  grid-row: 4;
}

.pp-shuffle-block:nth-child(5) {
  grid-row: 5;
}

.pp-shuffle-block:nth-child(6) {
  grid-row: 6;
}

.pp-shuffle-block:nth-child(7) {
  grid-row: 7;
}

.pp-shuffle-block:nth-child(8) {
  grid-row: 8;
}

.pp-shuffle-block:nth-child(9) {
  grid-row: 9;
}

.pp-shuffle-block:nth-child(10) {
  grid-row: 10;
}

.pp-shuffle-block:nth-child(11) {
  grid-row: 11;
}

.pp-shuffle-block:nth-child(12) {
  grid-row: 12;
}

.pp-shuffle-block:nth-child(13) {
  grid-row: 13;
}

.start-left {
  grid-column-start: 1;
}

.start-right {
  grid-column-end: 15;
}

.start-1 {
  grid-column-start: 2;
}

.end-1 {
  grid-column-end: 3;
}

.start-2 {
  grid-column-start: 3;
}

.end-2 {
  grid-column-end: 4;
}

.start-3 {
  grid-column-start: 4;
}

.end-3 {
  grid-column-end: 5;
}

.start-4 {
  grid-column-start: 5;
}

.end-4 {
  grid-column-end: 6;
}

.start-5 {
  grid-column-start: 6;
}

.end-5 {
  grid-column-end: 7;
}

.start-6 {
  grid-column-start: 7;
}

.end-6 {
  grid-column-end: 8;
}

.start-7 {
  grid-column-start: 8;
}

.end-7 {
  grid-column-end: 8;
}

.start-8 {
  grid-column-start: 9;
}

.end-8 {
  grid-column-end: 10;
}

.start-9 {
  grid-column-start: 10;
}

.end-9 {
  grid-column-end: 11;
}

.start-10 {
  grid-column-start: 11;
}

.end-10 {
  grid-column-end: 12;
}

.start-11 {
  grid-column-start: 12;
}

.end-11 {
  grid-column-end: 13;
}

.start-12 {
  grid-column-start: 13;
}

.end-12 {
  grid-column-end: 14;
}

:is(.grid-skeleton, .start-1, .start-2, .start-3, .start-4, .start-5, .start-6, .start-7, .start-8, .start-9, .start-10, .start-11)>.start-1 {
  grid-column-start: 1;
}

:is(.grid-skeleton, .start-1, .start-2, .start-3, .start-4, .start-5, .start-6, .start-7, .start-8, .start-9, .start-10, .start-11)>.end-1 {
  grid-column-end: 2;
}

:is(.grid-skeleton, .start-1, .start-2, .start-3, .start-4, .start-5, .start-6, .start-7, .start-8, .start-9, .start-10, .start-11)>.start-2 {
  grid-column-start: 2;
}

:is(.grid-skeleton, .start-1, .start-2, .start-3, .start-4, .start-5, .start-6, .start-7, .start-8, .start-9, .start-10, .start-11)>.end-2 {
  grid-column-end: 3;
}

:is(.grid-skeleton, .start-1, .start-2, .start-3, .start-4, .start-5, .start-6, .start-7, .start-8, .start-9, .start-10, .start-11)>.start-3 {
  grid-column-start: 3;
}

:is(.grid-skeleton, .start-1, .start-2, .start-3, .start-4, .start-5, .start-6, .start-7, .start-8, .start-9, .start-10, .start-11)>.end-3 {
  grid-column-end: 4;
}

:is(.grid-skeleton, .start-1, .start-2, .start-3, .start-4, .start-5, .start-6, .start-7, .start-8, .start-9, .start-10, .start-11)>.start-4 {
  grid-column-start: 4;
}

:is(.grid-skeleton, .start-1, .start-2, .start-3, .start-4, .start-5, .start-6, .start-7, .start-8, .start-9, .start-10, .start-11)>.end-4 {
  grid-column-end: 5;
}

:is(.grid-skeleton, .start-1, .start-2, .start-3, .start-4, .start-5, .start-6, .start-7, .start-8, .start-9, .start-10, .start-11)>.start-5 {
  grid-column-start: 5;
}

:is(.grid-skeleton, .start-1, .start-2, .start-3, .start-4, .start-5, .start-6, .start-7, .start-8, .start-9, .start-10, .start-11)>.end-5 {
  grid-column-end: 6;
}

:is(.grid-skeleton, .start-1, .start-2, .start-3, .start-4, .start-5, .start-6, .start-7, .start-8, .start-9, .start-10, .start-11)>.start-6 {
  grid-column-start: 6;
}

:is(.grid-skeleton, .start-1, .start-2, .start-3, .start-4, .start-5, .start-6, .start-7, .start-8, .start-9, .start-10, .start-11)>.end-6 {
  grid-column-end: 7;
}

:is(.grid-skeleton, .start-1, .start-2, .start-3, .start-4, .start-5, .start-6, .start-7, .start-8, .start-9, .start-10, .start-11)>.start-7 {
  grid-column-start: 7;
}

:is(.grid-skeleton, .start-1, .start-2, .start-3, .start-4, .start-5, .start-6, .start-7, .start-8, .start-9, .start-10, .start-11)>.end-7 {
  grid-column-end: 7;
}

:is(.grid-skeleton, .start-1, .start-2, .start-3, .start-4, .start-5, .start-6, .start-7, .start-8, .start-9, .start-10, .start-11)>.start-8 {
  grid-column-start: 8;
}

:is(.grid-skeleton, .start-1, .start-2, .start-3, .start-4, .start-5, .start-6, .start-7, .start-8, .start-9, .start-10, .start-11)>.end-8 {
  grid-column-end: 9;
}

:is(.grid-skeleton, .start-1, .start-2, .start-3, .start-4, .start-5, .start-6, .start-7, .start-8, .start-9, .start-10, .start-11)>.start-9 {
  grid-column-start: 9;
}

:is(.grid-skeleton, .start-1, .start-2, .start-3, .start-4, .start-5, .start-6, .start-7, .start-8, .start-9, .start-10, .start-11)>.end-9 {
  grid-column-end: 10;
}

:is(.grid-skeleton, .start-1, .start-2, .start-3, .start-4, .start-5, .start-6, .start-7, .start-8, .start-9, .start-10, .start-11)>.start-10 {
  grid-column-start: 10;
}

:is(.grid-skeleton, .start-1, .start-2, .start-3, .start-4, .start-5, .start-6, .start-7, .start-8, .start-9, .start-10, .start-11)>.end-10 {
  grid-column-end: 11;
}

:is(.grid-skeleton, .start-1, .start-2, .start-3, .start-4, .start-5, .start-6, .start-7, .start-8, .start-9, .start-10, .start-11)>.start-11 {
  grid-column-start: 11;
}

:is(.grid-skeleton, .start-1, .start-2, .start-3, .start-4, .start-5, .start-6, .start-7, .start-8, .start-9, .start-10, .start-11)>.end-11 {
  grid-column-end: 12;
}

:is(.grid-skeleton, .start-1, .start-2, .start-3, .start-4, .start-5, .start-6, .start-7, .start-8, .start-9, .start-10, .start-11)>.start-12 {
  grid-column-start: 12;
}

:is(.grid-skeleton, .start-1, .start-2, .start-3, .start-4, .start-5, .start-6, .start-7, .start-8, .start-9, .start-10, .start-11)>.end-12 {
  grid-column-end: 13;
}

.grid-skeleton {
  align-items: start;
  display: grid;
  grid-template-columns: subgrid;
  row-gap: 1.5rem;
  grid-row: 1/span 999 !important;
  height: 100%;
  grid-auto-rows: 1fr;
  z-index: 99;
  pointer-events: none;
  opacity: 0;
}

.grid-skeleton-bar {
  background-color: lightgray;
  height: 100%;
}