.pitter-patter-presence-anchor {
  position: absolute;

  display: inline-flex;

  width: 1rem;
  height: 1.6em;

  transform: translateX(-0.5rem);

  flex-direction: column;
  align-items: center;
}

.pitter-patter-presence-anchor-head {
  display: flex;

  width: 0.25rem;
  height: 0.25rem;

  flex-shrink: 0;
  align-items: center;
  justify-content: center;
}

.pitter-patter-presence-anchor:hover .pitter-patter-presence-anchor-head {
  position: absolute;
  top: -0.75rem;

  height: 1rem;

  width: max-content;

  padding-left: 0.25rem;
  padding-right: 0.25rem;
}

.pitter-patter-presence-anchor-user-id {
  display: none;

  font-size: 0.5rem;
  line-height: 0.5rem;

  color: white;
}

.pitter-patter-presence-anchor:hover .pitter-patter-presence-anchor-user-id {
  display: inline;
}

.pitter-patter-presence-anchor-body {
  width: 2px;

  flex-grow: 1;
}
