.ProseMirror {
  position: relative;
  background-color: #f3efea;
  color: #351900;
  padding-top: 2rem;
  min-height: 800px;

  --tw-prose-headings: #351900;
}

img {
  border-radius: 1rem;
}

[data-node-type] {
  border-radius: 0.25rem;
  background-color: #f3efea;
}

.shuffle-block {
  border: 1px solid transparent;
}

.shuffle-hover-block {
  border: 1px solid lightblue;
}

.shuffle-drag-handle {
  color: #351900;
}

.card-deck {
  display: flex;
  background-color: lightgray;
  gap: 1rem;
  border-radius: 0.25rem;
  justify-content: space-around;
  padding: 1rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.card {
  border: 1px solid transparent;
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.card p {
  background-color: white;
}

.card.shuffle-hover-block {
  border: 1px solid lightblue;
}

.inflatable-menu {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  justify-content: start;
  position: sticky;
  top: 0;
  z-index: 10000;
}

.inflatable {
  background-color: #f3efea;
  color: #351900;
  padding: 1rem;
  border-radius: 0.25rem;
  border: #351900 solid thin;
}
