.ProseMirror {
  position: relative;
  background-color: #f3efea;
  color: #351900;
  padding-top: 2rem;
  min-height: 800px;
}

img {
  border-radius: 1rem;
}

[data-node-type] {
  border-radius: 0.25rem;
}

[data-node-type][data-shuffle-clone] {
  background-color: #f3efea;
  color: #351900;
}

.shuffle-block {
  border: 1px solid transparent;
}

.shuffle-hover-block {
  border: 1px solid lightblue;
}

.shuffle-drag-handle {
  color: #351900;
}

.card-deck {
  display: flex;
  background-color: lightgray;
  gap: 1rem;
  border-radius: 0.25rem;
  justify-content: space-around;
  padding: 1rem;
  margin: 2rem;
}

.card {
  border: 1px solid transparent;
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.25rem;
}

.card.shuffle-hover-block {
  border: 1px solid lightblue;
}

.card[data-shuffle-clone] {
  background-color: white;
}
