.shuffle-wrapper {
  position: relative;
  align-content: start;
  display: grid;
  grid-template-columns:
    minmax(0, 1fr) repeat(12, minmax(0, var(--shuffle-column-width, 3rem)))
    minmax(0, 1fr);
  column-gap: var(--shuffle-gutter-width, 1.5rem);
}

.ProseMirror {
  align-items: start;
  align-content: start;
  display: grid;
  grid-template-columns: subgrid;
  grid-column-start: 1;
  grid-column-end: 15;
  row-gap: var(--shuffle-row-gap, 1rem);
  grid-row: 1 / span 999;
}

.row {
  display: grid;
  grid-template-columns: subgrid;
  grid-column-start: 1;
  grid-column-end: 15;
  row-gap: var(--shuffle-row-gap, 1rem);
  align-items: center;
}

.row > * {
  grid-row-start: 1 !important;
}

.shuffle-block {
  width: 100%;
}

.start-left {
  grid-column-start: 1;
}

.start-right {
  grid-column-end: 15;
}

.start-1 {
  grid-column-start: 2;
}

.end-1 {
  grid-column-end: 3;
}

.start-2 {
  grid-column-start: 3;
}

.end-2 {
  grid-column-end: 4;
}

.start-3 {
  grid-column-start: 4;
}

.end-3 {
  grid-column-end: 5;
}

.start-4 {
  grid-column-start: 5;
}

.end-4 {
  grid-column-end: 6;
}

.start-5 {
  grid-column-start: 6;
}

.end-5 {
  grid-column-end: 7;
}

.start-6 {
  grid-column-start: 7;
}

.end-6 {
  grid-column-end: 8;
}

.start-7 {
  grid-column-start: 8;
}

.end-7 {
  grid-column-end: 9;
}

.start-8 {
  grid-column-start: 9;
}

.end-8 {
  grid-column-end: 10;
}

.start-9 {
  grid-column-start: 10;
}

.end-9 {
  grid-column-end: 11;
}

.start-10 {
  grid-column-start: 11;
}

.end-10 {
  grid-column-end: 12;
}

.start-11 {
  grid-column-start: 12;
}

.end-11 {
  grid-column-end: 13;
}

.start-12 {
  grid-column-start: 13;
}

.end-12 {
  grid-column-end: 14;
}

:is(
    .shuffle-skeleton,
    .start-1,
    .start-2,
    .start-3,
    .start-4,
    .start-5,
    .start-6,
    .start-7,
    .start-8,
    .start-9,
    .start-10,
    .start-11
  )
  > .start-1 {
  grid-column-start: 1;
}

:is(
    .shuffle-skeleton,
    .start-1,
    .start-2,
    .start-3,
    .start-4,
    .start-5,
    .start-6,
    .start-7,
    .start-8,
    .start-9,
    .start-10,
    .start-11
  )
  > .end-1 {
  grid-column-end: 2;
}

:is(
    .shuffle-skeleton,
    .start-1,
    .start-2,
    .start-3,
    .start-4,
    .start-5,
    .start-6,
    .start-7,
    .start-8,
    .start-9,
    .start-10,
    .start-11
  )
  > .start-2 {
  grid-column-start: 2;
}

:is(
    .shuffle-skeleton,
    .start-1,
    .start-2,
    .start-3,
    .start-4,
    .start-5,
    .start-6,
    .start-7,
    .start-8,
    .start-9,
    .start-10,
    .start-11
  )
  > .end-2 {
  grid-column-end: 3;
}

:is(
    .shuffle-skeleton,
    .start-1,
    .start-2,
    .start-3,
    .start-4,
    .start-5,
    .start-6,
    .start-7,
    .start-8,
    .start-9,
    .start-10,
    .start-11
  )
  > .start-3 {
  grid-column-start: 3;
}

:is(
    .shuffle-skeleton,
    .start-1,
    .start-2,
    .start-3,
    .start-4,
    .start-5,
    .start-6,
    .start-7,
    .start-8,
    .start-9,
    .start-10,
    .start-11
  )
  > .end-3 {
  grid-column-end: 4;
}

:is(
    .shuffle-skeleton,
    .start-1,
    .start-2,
    .start-3,
    .start-4,
    .start-5,
    .start-6,
    .start-7,
    .start-8,
    .start-9,
    .start-10,
    .start-11
  )
  > .start-4 {
  grid-column-start: 4;
}

:is(
    .shuffle-skeleton,
    .start-1,
    .start-2,
    .start-3,
    .start-4,
    .start-5,
    .start-6,
    .start-7,
    .start-8,
    .start-9,
    .start-10,
    .start-11
  )
  > .end-4 {
  grid-column-end: 5;
}

:is(
    .shuffle-skeleton,
    .start-1,
    .start-2,
    .start-3,
    .start-4,
    .start-5,
    .start-6,
    .start-7,
    .start-8,
    .start-9,
    .start-10,
    .start-11
  )
  > .start-5 {
  grid-column-start: 5;
}

:is(
    .shuffle-skeleton,
    .start-1,
    .start-2,
    .start-3,
    .start-4,
    .start-5,
    .start-6,
    .start-7,
    .start-8,
    .start-9,
    .start-10,
    .start-11
  )
  > .end-5 {
  grid-column-end: 6;
}

:is(
    .shuffle-skeleton,
    .start-1,
    .start-2,
    .start-3,
    .start-4,
    .start-5,
    .start-6,
    .start-7,
    .start-8,
    .start-9,
    .start-10,
    .start-11
  )
  > .start-6 {
  grid-column-start: 6;
}

:is(
    .shuffle-skeleton,
    .start-1,
    .start-2,
    .start-3,
    .start-4,
    .start-5,
    .start-6,
    .start-7,
    .start-8,
    .start-9,
    .start-10,
    .start-11
  )
  > .end-6 {
  grid-column-end: 7;
}

:is(
    .shuffle-skeleton,
    .start-1,
    .start-2,
    .start-3,
    .start-4,
    .start-5,
    .start-6,
    .start-7,
    .start-8,
    .start-9,
    .start-10,
    .start-11
  )
  > .start-7 {
  grid-column-start: 7;
}

:is(
    .shuffle-skeleton,
    .start-1,
    .start-2,
    .start-3,
    .start-4,
    .start-5,
    .start-6,
    .start-7,
    .start-8,
    .start-9,
    .start-10,
    .start-11
  )
  > .end-7 {
  grid-column-end: 8;
}

:is(
    .shuffle-skeleton,
    .start-1,
    .start-2,
    .start-3,
    .start-4,
    .start-5,
    .start-6,
    .start-7,
    .start-8,
    .start-9,
    .start-10,
    .start-11
  )
  > .start-8 {
  grid-column-start: 8;
}

:is(
    .shuffle-skeleton,
    .start-1,
    .start-2,
    .start-3,
    .start-4,
    .start-5,
    .start-6,
    .start-7,
    .start-8,
    .start-9,
    .start-10,
    .start-11
  )
  > .end-8 {
  grid-column-end: 9;
}

:is(
    .shuffle-skeleton,
    .start-1,
    .start-2,
    .start-3,
    .start-4,
    .start-5,
    .start-6,
    .start-7,
    .start-8,
    .start-9,
    .start-10,
    .start-11
  )
  > .start-9 {
  grid-column-start: 9;
}

:is(
    .shuffle-skeleton,
    .start-1,
    .start-2,
    .start-3,
    .start-4,
    .start-5,
    .start-6,
    .start-7,
    .start-8,
    .start-9,
    .start-10,
    .start-11
  )
  > .end-9 {
  grid-column-end: 10;
}

:is(
    .shuffle-skeleton,
    .start-1,
    .start-2,
    .start-3,
    .start-4,
    .start-5,
    .start-6,
    .start-7,
    .start-8,
    .start-9,
    .start-10,
    .start-11
  )
  > .start-10 {
  grid-column-start: 10;
}

:is(
    .shuffle-skeleton,
    .start-1,
    .start-2,
    .start-3,
    .start-4,
    .start-5,
    .start-6,
    .start-7,
    .start-8,
    .start-9,
    .start-10,
    .start-11
  )
  > .end-10 {
  grid-column-end: 11;
}

:is(
    .shuffle-skeleton,
    .start-1,
    .start-2,
    .start-3,
    .start-4,
    .start-5,
    .start-6,
    .start-7,
    .start-8,
    .start-9,
    .start-10,
    .start-11
  )
  > .start-11 {
  grid-column-start: 11;
}

:is(
    .shuffle-skeleton,
    .start-1,
    .start-2,
    .start-3,
    .start-4,
    .start-5,
    .start-6,
    .start-7,
    .start-8,
    .start-9,
    .start-10,
    .start-11
  )
  > .end-11 {
  grid-column-end: 12;
}

:is(
    .shuffle-skeleton,
    .start-1,
    .start-2,
    .start-3,
    .start-4,
    .start-5,
    .start-6,
    .start-7,
    .start-8,
    .start-9,
    .start-10,
    .start-11
  )
  > .start-12 {
  grid-column-start: 12;
}

:is(
    .shuffle-skeleton,
    .start-1,
    .start-2,
    .start-3,
    .start-4,
    .start-5,
    .start-6,
    .start-7,
    .start-8,
    .start-9,
    .start-10,
    .start-11
  )
  > .end-12 {
  grid-column-end: 13;
}

.shuffle-skeleton {
  align-items: start;
  display: grid;
  grid-template-columns: subgrid;
  row-gap: var(--shuffle-row-gap, 1rem);
  grid-row: 1 / span 999 !important;
  grid-auto-rows: 1fr;
  z-index: 99;
  pointer-events: none;
  opacity: 0;
}

.shuffle-skeleton-bar {
  background-color: var(--shuffle-skeleton-color, lightgray);
  height: 100%;
}

.shuffle-left-resize-handle,
.shuffle-right-resize-handle {
  position: absolute;
  background-color: lightblue;
  width: 0.25rem;
  height: 2rem;
  z-index: 999;
  transform: translateY(-50%);
  border-radius: 0.25rem;
  cursor: col-resize;
  padding: 0;
  margin: 0;
  border: none;
}

.shuffle-drag-handle {
  position: absolute;
  background-color: lightblue;
  transform: translateY(-100%);
}
