@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

html {
  scrollbar-gutter: stable;
}

html > body[data-scroll-locked] {
  margin-right: 0px !important;
  --removed-body-scroll-bar-size: 0px !important;
}

@font-face {
  font-family: "GT Alpina Typewriter";
  font-style: normal;
  font-display: swap;
  src: url(/fonts/GT-Alpina-Typewriter-Thin.woff2) format("woff2");
}

@theme {
  --font-handle: "GT Alpina Typewriter";

  /* --color-canvas: #f3efea; */
  /* --color-brown: #351900; */
  /* --color-orange: #ff8a35; */
  /* --color-gray: #7e6f62; */
  /* --color-green: #29f462; */

  --color-fd-background: #f3efea;
  --color-fd-foreground: #351900;
  --color-fd-primary: #ff8a35;
  --color-fd-primary-foreground: #351900;
  --color-fd-border: #35190055;
  --color-fd-ring: #29f462;
  --color-fd-muted: #e3dfda;
  --color-fd-muted-foreground: #351900;
  --color-fd-accent: #29f462;
  --color-fd-accent-foreground: #351900;
  --color-fd-secondary: #f3efea;
  --color-fd-secondary-foreground: #351900;
  --color-fd-card: #f3efea;
  --color-fd-card-foreground: #351900;
  --color-fd-popover: #f3efea;
  --color-fd-popover-foreground: #351900;
}

.dark {
  --color-fd-background: #351900;
  --color-fd-foreground: #f3efea;
  --color-fd-primary: #ff8a35;
  --color-fd-primary-foreground: #351900;
  --color-fd-border: #f3efea55;
  --color-fd-ring: #29f462;
  --color-fd-muted: #553900;
  --color-fd-muted-foreground: #f3efea;
  --color-fd-accent: #351900;
  --color-fd-accent-foreground: #29f462;
  --color-fd-secondary: #351900;
  --color-fd-secondary-foreground: #f3efea;
  --color-fd-card: #351900;
  --color-fd-card-foreground: #f3efea;
  --color-fd-popover: #351900;
  --color-fd-popover-foreground: #f3efea;
}
